

h1 {
    color: darkslategray;
    text-align: center;
    font-weight: bolder;
    
}

.mainlist {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.button-class {
    background-color: rgb(65, 65, 194);;
    border-radius: 7px;
    padding: 6px;
    color: white;
    margin-top: 9px;
    font-size: 16px;
    font-weight: 700;
    border-color: silver;
    border-width: 3px;
    cursor: pointer;
}
